/**
 * allcss.less      //最终汇总生成的引入页面的CSS
 * 合并less输出到一个css
**/
html,
body {
  font-size: 100%;
  font-family: 'PingFang SC', 'Microsoft YaHei', '微软雅黑', '宋体', 'SimSun', STHeiti, MingLiu, Arial, sans-serif;
  height: 100%;
  width: 100%;
  min-width: 1024px;
  min-height: 568px;
  position: relative;
}
html,
body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
input,
select,
label {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style-type: none;
}
select,
select:focus,
input,
input:focus,
a,
a:focus,
button,
button:focus {
  outline: none;
}
input,
button,
select,
textarea {
  font-family: 'Microsoft YaHei', '微软雅黑', '宋体', STHeiti, MingLiu, Arial, sans-serif;
}
table {
  border-collapse: 0;
  border-spacing: 0;
}
input {
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 0;
}
a,
a:hover {
  text-decoration: none;
  color: #000;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  padding: 0;
}
.marginrightnone {
  margin-right: 0!important;
}
.floatleft {
  float: left;
}
.floatright {
  float: right;
}
/* 重置默认样式 */
/**
 * Swiper 3.4.2
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * 
 * http://www.idangero.us/swiper/
 * 
 * Copyright 2017, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us/
 * 
 * Licensed under MIT
 * 
 * Released on: March 10, 2017
 */
.swiper-container{margin-left:auto;margin-right:auto;position:relative;overflow:hidden;z-index:1}.swiper-container-no-flexbox .swiper-slide{float:left}.swiper-container-vertical>.swiper-wrapper{-webkit-box-orient:vertical;-ms-flex-direction:column;-webkit-flex-direction:column;flex-direction:column}.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-transition-property:-webkit-transform;transition-property: -webkit-transform;transition-property: transform;transition-property:transform, -webkit-transform;-webkit-box-sizing:content-box;box-sizing:content-box}.swiper-container-android .swiper-slide,.swiper-wrapper{-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.swiper-container-multirow>.swiper-wrapper{-webkit-box-lines:multiple;-moz-box-lines:multiple;-ms-flex-wrap:wrap;-webkit-flex-wrap:wrap;flex-wrap:wrap}.swiper-container-free-mode>.swiper-wrapper{-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;margin:0 auto}.swiper-slide{-webkit-flex-shrink:0;-ms-flex:0 0 auto;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;width:100%;height:100%;position:relative}.swiper-container-autoheight,.swiper-container-autoheight .swiper-slide{height:auto}.swiper-container-autoheight .swiper-wrapper{-webkit-box-align:start;-ms-flex-align:start;-webkit-align-items:flex-start;-ms-grid-row-align:flex-start;align-items:flex-start;-webkit-transition-property:-webkit-transform,height;-webkit-transition-property: height,-webkit-transform;transition-property: height,-webkit-transform;transition-property: transform,height;transition-property:transform,height,-webkit-transform}.swiper-container .swiper-notification{position:absolute;left:0;top:0;pointer-events:none;opacity:0;z-index:-1000}.swiper-wp8-horizontal{-ms-touch-action:pan-y;touch-action:pan-y}.swiper-wp8-vertical{-ms-touch-action:pan-x;touch-action:pan-x}.swiper-button-next,.swiper-button-prev{position:absolute;top:50%;width:27px;height:44px;margin-top:-22px;z-index:10;cursor:pointer;background-size:27px 44px;background-position:center;background-repeat:no-repeat}.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled{opacity:.35;cursor:auto;pointer-events:none}.swiper-button-prev,.swiper-container-rtl .swiper-button-next{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");left:10px;right:auto}.swiper-button-prev.swiper-button-black,.swiper-container-rtl .swiper-button-next.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")}.swiper-button-prev.swiper-button-white,.swiper-container-rtl .swiper-button-next.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}.swiper-button-next,.swiper-container-rtl .swiper-button-prev{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");right:10px;left:auto}.swiper-button-next.swiper-button-black,.swiper-container-rtl .swiper-button-prev.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")}.swiper-button-next.swiper-button-white,.swiper-container-rtl .swiper-button-prev.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}.swiper-pagination{position:absolute;text-align:center;-webkit-transition:.3s;transition:.3s;-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:10}.swiper-pagination.swiper-pagination-hidden{opacity:0}.swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction{bottom:10px;left:0;width:100%}.swiper-pagination-bullet{width:8px;height:8px;display:inline-block;-webkit-border-radius:100%;border-radius:100%;background:#000;opacity:.2}button.swiper-pagination-bullet{border:none;margin:0;padding:0;-webkit-box-shadow:none;box-shadow:none;-moz-appearance:none;-ms-appearance:none;-webkit-appearance:none;appearance:none}.swiper-pagination-clickable .swiper-pagination-bullet{cursor:pointer}.swiper-pagination-white .swiper-pagination-bullet{background:#fff}.swiper-pagination-bullet-active{opacity:1;background:#007aff}.swiper-pagination-white .swiper-pagination-bullet-active{background:#fff}.swiper-pagination-black .swiper-pagination-bullet-active{background:#000}.swiper-container-vertical>.swiper-pagination-bullets{right:10px;top:50%;-webkit-transform:translate3d(0,-50%,0);-ms-transform:translate3d(0,-50%,0);transform:translate3d(0,-50%,0)}.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{margin:5px 0;display:block}.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 5px}.swiper-pagination-progress{background:rgba(0,0,0,.25);position:absolute}.swiper-pagination-progress .swiper-pagination-progressbar{background:#007aff;position:absolute;left:0;top:0;width:100%;height:100%;-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0);-webkit-transform-origin:left top;-ms-transform-origin:left top;transform-origin:left top}.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar{-webkit-transform-origin:right top;-ms-transform-origin:right top;transform-origin:right top}.swiper-container-horizontal>.swiper-pagination-progress{width:100%;height:4px;left:0;top:0}.swiper-container-vertical>.swiper-pagination-progress{width:4px;height:100%;left:0;top:0}.swiper-pagination-progress.swiper-pagination-white{background:rgba(255,255,255,.5)}.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar{background:#fff}.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar{background:#000}.swiper-container-3d{-webkit-perspective:1200px;-o-perspective:1200px;perspective:1200px}.swiper-container-3d .swiper-cube-shadow,.swiper-container-3d .swiper-slide,.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top,.swiper-container-3d .swiper-wrapper{-webkit-transform-style:preserve-3d;transform-style:preserve-3d}.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top{position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:none;z-index:10}.swiper-container-3d .swiper-slide-shadow-left{background-image:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-webkit-gradient(linear,right top, left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-right{background-image:-webkit-gradient(linear,right top,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-webkit-gradient(linear,left top, right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-top{background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-webkit-gradient(linear,left bottom, left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-bottom{background-image:-webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-coverflow .swiper-wrapper,.swiper-container-flip .swiper-wrapper{-ms-perspective:1200px}.swiper-container-cube,.swiper-container-flip{overflow:visible}.swiper-container-cube .swiper-slide,.swiper-container-flip .swiper-slide{pointer-events:none;-webkit-backface-visibility:hidden;backface-visibility:hidden;z-index:1}.swiper-container-cube .swiper-slide .swiper-slide,.swiper-container-flip .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-active .swiper-slide-active,.swiper-container-flip .swiper-slide-active,.swiper-container-flip .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-cube .swiper-slide-shadow-bottom,.swiper-container-cube .swiper-slide-shadow-left,.swiper-container-cube .swiper-slide-shadow-right,.swiper-container-cube .swiper-slide-shadow-top,.swiper-container-flip .swiper-slide-shadow-bottom,.swiper-container-flip .swiper-slide-shadow-left,.swiper-container-flip .swiper-slide-shadow-right,.swiper-container-flip .swiper-slide-shadow-top{z-index:0;-webkit-backface-visibility:hidden;backface-visibility:hidden}.swiper-container-cube .swiper-slide{visibility:hidden;-webkit-transform-origin:0 0;-ms-transform-origin:0 0;transform-origin:0 0;width:100%;height:100%}.swiper-container-cube.swiper-container-rtl .swiper-slide{-webkit-transform-origin:100% 0;-ms-transform-origin:100% 0;transform-origin:100% 0}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-next,.swiper-container-cube .swiper-slide-next+.swiper-slide,.swiper-container-cube .swiper-slide-prev{pointer-events:auto;visibility:visible}.swiper-container-cube .swiper-cube-shadow{position:absolute;left:0;bottom:0;width:100%;height:100%;background:#000;opacity:.6;-webkit-filter:blur(50px);filter:blur(50px);z-index:0}.swiper-container-fade.swiper-container-free-mode .swiper-slide{-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out}.swiper-container-fade .swiper-slide{pointer-events:none;-webkit-transition-property:opacity;transition-property:opacity}.swiper-container-fade .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-fade .swiper-slide-active,.swiper-container-fade .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-zoom-container{width:100%;height:100%;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;text-align:center}.swiper-zoom-container>canvas,.swiper-zoom-container>img,.swiper-zoom-container>svg{max-width:100%;max-height:100%;object-fit:contain}.swiper-scrollbar{-webkit-border-radius:10px;border-radius:10px;position:relative;-ms-touch-action:none;background:rgba(0,0,0,.1)}.swiper-container-horizontal>.swiper-scrollbar{position:absolute;left:1%;bottom:3px;z-index:50;height:5px;width:98%}.swiper-container-vertical>.swiper-scrollbar{position:absolute;right:3px;top:1%;z-index:50;width:5px;height:98%}.swiper-scrollbar-drag{height:100%;width:100%;position:relative;background:rgba(0,0,0,.5);-webkit-border-radius:10px;border-radius:10px;left:0;top:0}.swiper-scrollbar-cursor-drag{cursor:move}.swiper-lazy-preloader{width:42px;height:42px;position:absolute;left:50%;top:50%;margin-left:-21px;margin-top:-21px;z-index:10;-webkit-transform-origin:50%;-ms-transform-origin:50%;transform-origin:50%;-webkit-animation:swiper-preloader-spin 1s steps(12,end) infinite;animation:swiper-preloader-spin 1s steps(12,end) infinite}.swiper-lazy-preloader:after{display:block;content:"";width:100%;height:100%;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");background-position:50%;background-size:100%;background-repeat:no-repeat}.swiper-lazy-preloader-white:after{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")}@-webkit-keyframes swiper-preloader-spin{100%{-webkit-transform:rotate(360deg)}}@keyframes swiper-preloader-spin{100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}
/* swiper样式 */
@font-face {
  font-family: "iconfont";
  src: url('fonts/iconfont.eot?t=1501254356722');
  /* IE9*/
  src: url('fonts/iconfont.eot?t=1501254356722#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/iconfont.woff?t=1501254356722') format('woff'), /* chrome, firefox */ url('fonts/iconfont.ttf?t=1501254356722') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('fonts/iconfont.svg?t=1501254356722#iconfont') format('svg');
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-jikediancanicon21:before {
  content: "\e783";
}
.icon-shoukuan:before {
  content: "\e691";
}
.icon-bangzhu:before {
  content: "\e609";
}
.icon-shouxu:before {
  content: "\e7a8";
}
.icon-buchongiconsvg02:before {
  content: "\e65c";
}
.icon-xiayiye:before {
  content: "\e623";
}
.icon-dianhua:before {
  content: "\e604";
}
.icon-shenqing:before {
  content: "\e673";
}
.icon-renminbi:before {
  content: "\e619";
}
.icon-caidan-copy:before {
  content: "\e601";
}
.icon-xingming:before {
  content: "\e63a";
}
.icon-weixin:before {
  content: "\e605";
}
.icon-jiantou-copy:before {
  content: "\e613";
}
.icon-fabuxuqiu:before {
  content: "\e627";
}
.icon-fangkuanqueren:before {
  content: "\e60c";
}
.icon-caidantubiao-03:before {
  content: "\e634";
}
.icon-rongzi:before {
  content: "\e649";
}
.icon-xin:before {
  content: "\e602";
}
.icon-liaotian:before {
  content: "\e603";
}
.icon-shouji:before {
  content: "\e61b";
}
.icon-jishufuwu:before {
  content: "\e7df";
}
.icon-ZHicon-:before {
  content: "\e624";
}
.icon-pinggu:before {
  content: "\e611";
}
.icon-gongsi:before {
  content: "\e67d";
}
.icon-zhangdan:before {
  content: "\e67f";
}
.icon-erp:before {
  content: "\e669";
}
.icon-youjian:before {
  content: "\e622";
}
.icon-sanjiao:before {
  content: "\e600";
}
.icon-wangguan:before {
  content: "\eaf2";
}
.icon-edit:before {
  content: "\e616";
}
.icon-duigoudown:before {
  content: "\e71";
}
/* iconfont */
.head {
  position: relative;
}
.head .swiper-container {
  width: 100%;
}
.head .swiper-container .swiper-slide img {
  width: 100%;
  display: block;
}
.head-top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
}
.head-top .logo {
  width: 217px;
  height: 21px;
  margin: 40px 0 0 60px;
}
.tools-container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.tools-box {
  width: 68%;
  background: #fff;
  position: absolute;
  right: 0;
}
.tools-top {
  height: 99px;
  line-height: 99px;
  padding-left: 16px;
  border-bottom: 1px #e4e4e4 solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.tools-top span {
  font-size: 18px;
  margin-right: 46px;
  color: #333333;
  cursor: pointer;
}
.tools-top span:hover {
  color: #6acce8;
}
.tools-bottom {
  padding-left: 16px;
}
.tools-bottom li {
  padding-top: 32px;
  display: none;
  background: #fff;
  height: 279px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.tools-bottom li.show {
  display: block;
}
.tools-bottom .tools-bottom-left {
  width: 290px;
  float: left;
  margin-right: 72px;
}
.tools-bottom .tools-bottom-left h4 {
  font-size: 24px;
  color: #333;
  font-weight: normal;
  margin-bottom: 25px;
}
.tools-bottom .tools-bottom-left p {
  font-size: 12px;
  color: #999;
  line-height: 24px;
}
.tools-bottom .tools-bottom-right {
  float: left;
  display: inline-block;
  margin-right: 30px;
}
.tools-bottom .tools-bottom-right h3 {
  font-size: 12px;
  color: #e2e2e2;
  font-weight: normal;
}
.tools-bottom .tools-bottom-right h3 a {
  font-size: 12px;
  color: #333;
}
.tools-bottom .tools-bottom-right h4 {
  font-weight: normal;
  height: 36px;
  line-height: 30px;
  font-size: 10px;
  color: #333;
}
.tools-bottom .tools-bottom-right-little {
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  color: #333;
  overflow: hidden;
}
.tools-bottom .tools-bottom-right-little i {
  display: inline-block;
  float: left;
  width: 12px;
  height: 12px;
  border: 3px solid #6acce8;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 6px 9px 0 0;
}
.tools-bottom .tools-bottom-right-little span {
  cursor: pointer;
}
.tools-bottom .tools-bottom-right-little span b {
  font-weight: normal;
  color: #999999;
}
.tools-leftbg {
  position: absolute;
  left: -65px;
  top: 0;
  width: 65px;
  height: 99px;
  background: url(../img/sanjiao1.png) no-repeat;
  background-size: 100% 100%;
}
.tools-leftbg.active {
  width: 248px;
  height: 378px;
  left: -248px;
  background: url(../img/sanjiao2.png) no-repeat;
  background-size: 100% 100%;
}
.swiper-container-banner .swiper-button-prev {
  width: 59px;
  height: 58px;
  background: url(../img/left-button.png) no-repeat;
  background-size: 100% 100%;
  left: 50px;
}
.swiper-container-banner .swiper-button-next {
  width: 59px;
  height: 58px;
  background: url(../img/right-button.png) no-repeat;
  background-size: 100% 100%;
  right: 50px;
}
.swiper-container-banner .swiper-button-next.swiper-button-disabled {
  opacity: 1;
  background: url(../img/disable-right.png) no-repeat;
  background-size: 100% 100%;
}
.swiper-container-banner .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
  background: url(../img/disable-left.png) no-repeat;
  background-size: 100% 100%;
}
.swiper-container-banner .pagationBox {
  width: 357px;
  height: 48px;
  position: absolute;
  bottom: 60px;
  left: 50%;
  z-index: 3;
  margin-left: -179px;
}
.swiper-container-banner .pagationBox img {
  display: block;
  float: left;
  width: 101px;
  height: 42px;
  border: 3px #fff solid;
  cursor: pointer;
  margin-right: 12px;
}
.swiper-container-banner .pagationBox img.active {
  border-color: #05afe1;
}
.swiper-container-banner .banner01-content {
  width: 100%;
  position: absolute;
  left: 0;
  top: 26%;
}
.swiper-container-banner .top-titleh4 {
  height: 60px;
  font-size: 42px;
  color: #fff;
  text-align: center;
  letter-spacing: 3px;
}
.swiper-container-banner .top-titleh3 {
  width: 100%;
  height: 22px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-transform: Uppercase;
  letter-spacing: 2px;
  font-weight: normal;
}
.swiper-container-banner .banner01-content2 {
  width: 330px;
  position: absolute;
  left: 50%;
  top: 49%;
  margin-left: -165px;
}
.swiper-container-banner .banner01-content2 .top-titlep {
  height: 34px;
  line-height: 34px;
  text-align: left;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
}
.swiper-container-banner .banner01-content2 .top-titlep span {
  font-size: 18px;
  font-weight: bold;
  color: #6acce8;
  margin-right: 28px;
}
.index-block2 {
  width: 100%;
  background: url(../img/xiaoguo.png) no-repeat left -200px;
  background-size: 100%;
  overflow: hidden;
}
.index-block2 .centerBox {
  width: 1000px;
  margin: 70px auto 0;
}
.index-block2 .centerBox-title {
  text-align: center;
  font-size: 42px;
  color: #352e2c;
  margin-bottom: 70px;
  font-weight: bold;
}
.index-block2 .centerBox-title img {
  width: 86px;
  height: 99px;
  margin-right: 5px;
}
.index-block2-ul li {
  width: 224px;
  height: 335px;
  padding: 0 20px 35px;
  border: 1px #3b3b3b solid;
  float: left;
  margin-right: 34px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  position: relative;
}
.index-block2-ul li .line {
  display: block;
  width: 160px;
  height: 1px;
  background: #fff;
  margin-top: -1px;
}
.index-block2-ul li h3 {
  font-size: 42px;
  color: #2c2c2c;
  font-weight: normal;
  margin: -28px auto 0;
  text-align: center;
}
.index-block2-ul li h3.block2-img1 {
  width: 136px;
  height: 41px;
  background: url(../img/block2-img1.png) no-repeat;
  background-size: 100% 100%;
}
.index-block2-ul li h3.block2-img2 {
  width: 155px;
  height: 41px;
  background: url(../img/block2-img2.png) no-repeat;
  background-size: 100% 100%;
}
.index-block2-ul li h3.block2-img3 {
  width: 111px;
  height: 41px;
  background: url(../img/block2-img3.png) no-repeat;
  background-size: 100% 100%;
}
.index-block2-ul li h3.block2-img4 {
  width: 81px;
  height: 41px;
  background: url(../img/block2-img4.png) no-repeat;
  background-size: 100% 100%;
}
.index-block2-ul li h3 i {
  font-size: 18px;
  font-style: normal;
}
.index-block2-ul li img {
  display: block;
  margin: 20px auto;
}
.index-block2-ul li h4 {
  font-size: 18px;
  color: #352e2c;
  text-align: center;
  margin-bottom: 20px;
}
.index-block2-ul li p {
  font-size: 12px;
  line-height: 24px;
  color: #666666;
}
.index-block3 {
  width: 100%;
  overflow: hidden;
}
.index-block3 .centerBox {
  width: 930px;
  margin: 46px auto 0;
}
.index-block3 .centerBox-title {
  text-align: center;
  font-size: 30px;
  color: #352e2c;
  margin-bottom: 70px;
  font-weight: bold;
}
.index-block3 .centerBox-title b {
  font-size: 42px;
}
.index-block3 .centerBox-title img {
  width: 121px;
  height: 119px;
  position: relative;
  top: 25px;
}
.index-block3-ul {
  overflow: hidden;
  margin-bottom: 70px;
}
.index-block3-ul li {
  width: 380px;
}
.index-block3-ul li img {
  display: block;
  margin: 0 auto 38px;
}
.index-block3-ul li img .imgw1 {
  width: 191px;
  height: 44px;
}
.index-block3-ul li img .imgw2 {
  width: 140px;
  height: 44px;
}
.index-block3-ul li img .imgw3 {
  width: 191px;
  height: 42px;
}
.index-block3-ul li img .imgw4 {
  width: 172px;
  height: 42px;
}
.index-block3-ul li span {
  display: block;
  width: 380px;
  height: 206px;
  position: relative;
}
.index-block3-ul li span i {
  width: 119px;
  height: 43px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  font-style: normal;
  font-size: 14px;
  color: #fff;
  background: #6acce8;
  position: absolute;
  bottom: 18px;
  left: 0;
  cursor: pointer;
}
.index-block3-ul li span.wangguan1 {
  background: url(../img/wangguan-bg1_03.jpg) no-repeat;
  background-size: 100% 100%;
}
.index-block3-ul li span.wangguan2 {
  background: url(../img/wangguan-bg2_05.jpg) no-repeat;
  background-size: 100% 100%;
}
.index-block3-ul li span.wangguan3 {
  background: url(../img/wangguan-bg3_10.jpg) no-repeat;
  background-size: 100% 100%;
}
.index-block3-ul li span.wangguan4 {
  background: url(../img/wangguan-bg4_12.jpg) no-repeat;
  background-size: 100% 100%;
}
.index-block3-ul li h4 {
  font-size: 14px;
  color: #000;
  line-height: 30px;
  margin-top: 30px;
  padding: 0 20px;
  font-weight: bold;
}
.index-block3-ul li p {
  font-size: 14px;
  color: #666;
  line-height: 23px;
  padding: 0 20px;
}
.index-block4 {
  width: 100%;
  overflow: hidden;
}
.index-block4 .centerBox {
  width: 930px;
  margin: 46px auto 0;
}
.index-block4 .centerBox-title {
  text-align: center;
  font-size: 30px;
  color: #352e2c;
  font-weight: bold;
}
.index-block4 .centerBox-title b {
  font-size: 42px;
}
.index-block4 .centerBox-title img {
  width: 61px;
  height: 71px;
  position: relative;
  top: -10px;
}
.link-bg {
  margin-top: -20px;
  background: url(../img/link-bg.png) top center no-repeat;
}
.index-block4-ul {
  width: 1000px;
  height: 907px;
  margin: 0 auto 0;
  position: relative;
  left: 65px;
  padding-top: 205px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.index-block4-ul li {
  float: left;
  width: 435px;
  color: #fff;
}
.index-block4-ul li > h3 {
  font-size: 44px;
  line-height: 60px;
  margin-bottom: 30px;
  position: relative;
}
.index-block4-ul li > h3:before {
  content: '';
  position: absolute;
  top: -30px;
  left: 0px;
  width: 140px;
  height: 3px;
  background: #fff;
}
.index-block4-ul li p {
  font-size: 24px;
  line-height: 37px;
}
.index-block4-ul li .more-btn {
  display: block;
  width: 130px;
  height: 45px;
  background: #6acce8;
  font-size: 18px;
  color: #fff;
  line-height: 45px;
  text-align: center;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  margin: 30px 0;
}
.index-block4-ul li .small-tips {
  margin-bottom: 30px;
}
.index-block4-ul li .small-tips span {
  display: inline-block;
  font-size: 14px;
  color: #fff;
  margin-right: 20px;
  line-height: 32px;
}
.index-block4-ul li .long-tips p {
  font-size: 14px;
  line-height: 26px;
}
.index-block4-ul li:last-child {
  width: 433px;
  float: right;
}
.index-block4-ul li:last-child .more-btn {
  background: #fef260;
  color: #4f9899;
}
.index-block5 {
  width: 100%;
  overflow: hidden;
}
.index-block5 .centerBox {
  width: 930px;
  margin: 40px auto 0;
}
.index-block5 .centerBox-title {
  text-align: center;
  font-size: 30px;
  color: #352e2c;
}
.index-block5 .centerBox-title b {
  font-size: 42px;
}
.index-block5 .centerBox-title img {
  width: 115px;
  height: 93px;
  position: relative;
  top: 8px;
}
.news-bg {
  margin-top: 5px;
  background: url(../img/news-bg.png) top center no-repeat;
  height: 600px;
  margin-bottom: 100px;
}
.index-block5-ul {
  width: 930px;
  margin: 0 auto 0;
  padding-top: 100px;
  padding-left: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.index-block5-ul li {
  font-size: 12px;
  color: #000;
  line-height: 30px;
}
.index-block5-ul li i {
  float: left;
  width: 5px;
  height: 5px;
  border: solid 3px #6acce8;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-top: 13px;
  margin-right: 12px;
}
.index-block5-ul li span {
  margin-left: 18px;
  color: #bfbfbf;
}
.index-block5-ul .more-btn {
  display: block;
  width: 106px;
  height: 45px;
  font-size: 16px;
  line-height: 45px;
  text-align: center;
  color: #fff;
  background: #6acce8;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  margin-left: 90px;
  margin-top: 23px;
}
.index-block6 {
  width: 100%;
  height: 230px;
  border-top: 1px #d6d6d6 solid;
  position: relative;
}
.index-block6 img {
  width: 854px;
  height: 161px;
  display: block;
  margin: 36px auto 0;
  position: relative;
  z-index: 2;
}
.index-block6 .index-block6-bg {
  width: 100%;
  height: 108px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: #f6f6f6;
}
.index-block7 {
  width: 100%;
  height: 238px;
  background: #1f60a4;
  border-bottom: 1px #497db3 solid;
}
.index-block7-ul {
  width: 1000px;
  overflow: hidden;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.index-block7-ul li {
  float: left;
  width: 170px;
  padding-top: 36px;
}
.index-block7-ul li h4 {
  font-size: 18px;
  color: #76d1d8;
  height: 60px;
  line-height: 60px;
}
.index-block7-ul li h4 i {
  display: inline-block;
  width: 11px;
  height: 10px;
  background: url(../img/suangjiantou.png) no-repeat;
  background-size: 100% 100%;
  margin-right: 5px;
}
.index-block7-ul li a {
  font-size: 12px;
  color: #fff;
  line-height: 24px;
  display: block;
}
.index-block7-ul li.widthauto {
  width: 120px;
}
.index-block8 {
  width: 100%;
  height: 265px;
  background: #1f60a4;
}
.index-block8 .centerBox {
  width: 1000px;
  height: 265px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
.index-block8-left {
  overflow: hidden;
}
.index-block8-left p {
  line-height: 24px;
  color: #dcdcdc;
  font-size: 12px;
}
.index-block8-left-top {
  margin-top: 10px;
  height: 62px;
  line-height: 62px;
  color: #fff;
  font-size: 18px;
}
.index-block8-left-top a {
  font-size: 18px;
  color: #fff;
}
.index-block8-right {
  width: 214px;
  height: 99px;
  position: absolute;
  right: 0;
  bottom: 52px;
}
.index-block8-right img {
  display: block;
  float: left;
  width: 99px;
  height: 99px;
}
.index-block8-right img.lefterweima {
  margin-right: 16px;
}
/* 首页 */
@media screen and (max-width: 1140px) {
  .tools-bottom li {
    padding-top: 20px;
  }
  .tools-bottom .tools-bottom-left {
    width: 219px;
    margin-right: 19px;
  }
  .tools-bottom .tools-bottom-left h4 {
    margin-bottom: 0;
  }
  .tools-bottom .tools-bottom-right {
    margin-right: 13px;
  }
}
@media screen and (min-width: 1141px) and (max-width: 1300px) {
  .tools-bottom li {
    padding-top: 20px;
  }
  .tools-bottom .tools-bottom-left {
    width: 219px;
    margin-right: 35px;
  }
  .tools-bottom .tools-bottom-left h4 {
    margin-bottom: 0;
  }
  .tools-bottom .tools-bottom-right {
    margin-right: 30px;
  }
}
/* 调整样式 */
.wl-banner {
  height: 576px;
  position: relative;
  background: url(../img/big-banner.jpg) no-repeat center;
}
.wl-banner.news-banner {
  background: url(../img/news_banner_01.jpg) no-repeat center;
}
.wl-banner.contect-banner {
  background: url(../img/contect-banner_01.jpg) no-repeat center;
}
.wl-banner.friend-banner {
  background: url(../img/friend-banner_01.jpg) no-repeat center;
}
.wl-banner.activity-banner {
  background: url(../img/activety-banner_01.jpg) no-repeat center;
}
.wl-banner .wl-big-events {
  position: absolute;
  top: 54%;
  left: 20%;
  width: 476px;
  height: 116px;
  background: url(../img/big-wl.png) no-repeat center;
  text-indent: -9999px;
}
.wl-banner .wl-big-events.news-baner-title {
  background: url(../img/newstop-bg.png) no-repeat left center;
}
.wl-banner .wl-big-events.contect-baner-title {
  width: 676px;
  background: url(../img/contectus-bg.png) no-repeat left center;
}
.wl-banner .wl-big-events.friend-baner-title {
  width: 676px;
  background: url(../img/friend_top-bg.png) no-repeat left center;
}
.wl-banner .wl-big-events.activity-baner-title {
  background: url(../img/activity_top-bg.png) no-repeat left center;
}
.wl-banner .wl-summary {
  position: absolute;
  top: 75%;
  left: 20.5%;
  font-size: 14px;
  color: #fff;
  line-height: 27px;
}
.time-axis {
  position: relative;
  width: 990px;
  margin: 0 auto;
  font-size: 12px;
  color: #434343;
  line-height: 25px;
  margin-top: 60px;
}
.time-axis > img {
  width: 100%;
}
.time-axis .this-year {
  position: absolute;
  width: 260px;
  top: 0px;
  left: 0px;
}
.time-axis .last-year {
  position: absolute;
  width: 260px;
  bottom: 40px;
  left: 120px;
}
.time-axis .year15 {
  position: absolute;
  width: 260px;
  bottom: 200px;
  left: 238px;
}
.time-axis .year14 {
  position: absolute;
  width: 260px;
  bottom: 90px;
  left: 348px;
}
.time-axis .year13 {
  position: absolute;
  width: 260px;
  bottom: 230px;
  left: 453px;
}
.time-axis .year13 .picture {
  margin-top: 8px;
}
.time-axis .year12 {
  position: absolute;
  width: 260px;
  top: 30px;
  left: 568px;
}
.time-axis .year11 {
  position: absolute;
  width: 260px;
  bottom: 65px;
  left: 683px;
}
.time-axis .year10 {
  position: absolute;
  width: 260px;
  bottom: 235px;
  left: 790px;
}
.time-axis .blue-wz {
  color: #76c7df;
}
.time-axis .picture {
  margin-top: 15px;
}
.honour {
  height: 607px;
  background: url(../img/bolang.png) no-repeat top center;
  position: relative;
  margin-bottom: 47px;
  margin-top: 100px;
}
.honour .swiper-pagination .swiper-pagination-bullet {
  background: #535353;
  opacity: 1;
}
.honour .swiper-pagination .swiper-pagination-bullet-active {
  background: #6acce8;
}
.honour .honour-con {
  width: 730px;
  margin: 0 auto;
  margin-top: 25px;
  padding-bottom: 30px;
}
.honour .honour-con ul {
  height: 210px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}
.honour .honour-con ul li {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 127px;
  margin-right: 15px;
}
.honour .honour-con ul li:last-child {
  margin-right: 0px;
}
.honour .honour-con ul .img-div {
  height: 113px;
  overflow: hidden;
}
.honour .honour-con ul .img-div img {
  width: 100%;
  height: 100%;
}
.honour .honour-con p {
  font-size: 12px;
  color: #333;
  line-height: 24px;
  margin-top: 8px;
}
.honour .swiper-honour-prev {
  width: 46px;
  height: 46px;
  background: url(../img/turn-left.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -495px;
  margin-top: -24px;
  z-index: 99;
  cursor: pointer;
}
.honour .swiper-honour-next {
  width: 46px;
  height: 46px;
  background: url(../img/turn-right.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: 50%;
  top: 50%;
  margin-right: -495px;
  margin-top: -24px;
  z-index: 99;
  cursor: pointer;
}
.honour .swiper-honour-next.swiper-button-disabled {
  opacity: 1;
  background: url(../img/turn-right-disabled.png) no-repeat;
  background-size: 100% 100%;
  cursor: default;
}
.honour .swiper-honour-prev.swiper-button-disabled {
  opacity: 1;
  background: url(../img/turn-left-disabled.png) no-repeat;
  background-size: 100% 100%;
  cursor: default;
}
.wl-title {
  font-size: 30px;
  font-weight: normal;
  color: #333;
  text-align: center;
}
.wl-title > img {
  margin-top: -20px;
}
.wl-title b {
  font-size: 48px;
  font-weight: 500;
}
/* 大事件 */
.about-banner {
  height: 576px;
  position: relative;
  background: url(../img/about-banner.png) no-repeat center;
}
.about-banner .about-banner-img {
  position: absolute;
  top: 45%;
  left: 20.5%;
  width: 279px;
  height: 113px;
  background: url(../img/about-wz.png) no-repeat center;
  text-indent: -9999px;
}
.about-banner .about-summary {
  position: absolute;
  top: 66%;
  left: 21%;
  font-size: 14px;
  color: #fff;
  line-height: 27px;
}
.wl-data {
  height: 593px;
  background: url(../img/about2-bg.jpg) no-repeat center;
  padding-top: 100px;
  /*Firefox3.5+*/
  -webkit-box-sizing: border-box;
  /*Safari3.2+*/
  -o-box-sizing: border-box;
  /*Opera9.6*/
  -ms-box-sizing: border-box;
  /*IE8*/
  box-sizing: border-box;
  position: relative;
}
.wl-data .about-wz-content {
  width: 559px;
  position: absolute;
  top: 230px;
  left: 50%;
  margin-left: -150px;
  margin-top: 17px;
}
.wl-data p {
  font-size: 14px;
  color: #000;
  line-height: 31px;
}
.wl-data .wl-title {
  position: absolute;
  left: 50%;
  margin-left: -70px;
  margin-top: 30px;
}
.wl-data .wl-title > img {
  position: relative;
  top: -10px;
}
.padding-left60 {
  padding-left: 60px;
}
.padding-left140 {
  padding-left: 140px;
}
.margin-top24 {
  margin-top: 24px;
}
.environment {
  width: 858px;
  margin: 73px auto 0;
  position: relative;
}
.environment > h3 {
  font-size: 30px;
  color: #333;
  line-height: 46px;
  font-weight: normal;
  text-align: center;
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -117px;
  width: 234px;
}
.environment > h3 b {
  font-size: 48px;
  font-weight: 500;
}
.environment .achievement,
.environment .risk {
  position: absolute;
  left: 69px;
  top: 130px;
  text-align: center;
}
.environment .achievement h4,
.environment .risk h4 {
  font-size: 24px;
  color: #333;
  line-height: 50px;
  margin-bottom: 5px;
  font-weight: 500;
}
.environment .achievement p,
.environment .risk p {
  font-size: 14px;
  line-height: 30px;
  color: #333;
}
.environment .risk {
  left: auto;
  right: 77px;
}
.environment .small-span1,
.environment .small-span2,
.environment .small-span3,
.environment .small-span4 {
  font-size: 14px;
  color: #fff;
  line-height: 18px;
  position: absolute;
  left: 95px;
  bottom: 79px;
  text-align: center;
}
.environment .small-span2 {
  left: 200px;
  bottom: 140px;
}
.environment .small-span3 {
  left: auto;
  right: 190px;
  bottom: 150px;
}
.environment .small-span4 {
  left: auto;
  right: 90px;
  bottom: 83px;
}
.environment .bottom-tips {
  position: absolute;
  bottom: 45px;
  left: 50%;
  color: #333;
  margin-left: -215px;
}
.environment .bottom-tips span {
  color: #6acce8;
}
.environment .bottom-tips i {
  display: inline-block;
  width: 36px;
}
.four-module {
  width: 100%;
  overflow: hidden;
  margin-top: 42px;
}
.four-module .centerBox {
  width: 860px;
  margin: 46px auto 0;
}
.four-module .centerBox-title {
  text-align: center;
  font-size: 30px;
  color: #352e2c;
  margin-bottom: 70px;
  font-weight: bold;
}
.four-module .centerBox-title b {
  font-size: 42px;
  font-weight: normal;
}
.four-module .centerBox-title img {
  width: 121px;
  height: 119px;
  position: relative;
  top: 25px;
}
.four-module .index-block3-ul {
  overflow: hidden;
  margin-bottom: 55px;
}
.four-module .index-block3-ul li {
  width: 370px;
}
.four-module .index-block3-ul li img {
  display: block;
  margin: 0 auto 38px;
}
.four-module .index-block3-ul li img .imgw1 {
  width: 191px;
  height: 44px;
}
.four-module .index-block3-ul li img .imgw2 {
  width: 140px;
  height: 44px;
}
.four-module .index-block3-ul li img .imgw3 {
  width: 191px;
  height: 42px;
}
.four-module .index-block3-ul li img .imgw4 {
  width: 172px;
  height: 42px;
}
.four-module .index-block3-ul li span {
  display: block;
  width: 370px;
  height: 179px;
  position: relative;
}
.four-module .index-block3-ul li span i {
  width: 119px;
  height: 43px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  font-style: normal;
  font-size: 14px;
  color: #fff;
  background: #6acce8;
  position: absolute;
  bottom: 22px;
  left: 0;
  cursor: pointer;
}
.four-module .index-block3-ul li span.wangguan1 {
  background: url(../img/four01.jpg) no-repeat;
  background-size: 100% 100%;
}
.four-module .index-block3-ul li span.wangguan2 {
  background: url(../img/four02.jpg) no-repeat;
  background-size: 100% 100%;
}
.four-module .index-block3-ul li span.wangguan3 {
  background: url(../img/four03.jpg) no-repeat;
  background-size: 100% 100%;
}
.four-module .index-block3-ul li span.wangguan4 {
  background: url(../img/four04.jpg) no-repeat;
  background-size: 100% 100%;
}
.four-module .index-block3-ul li h4 {
  font-size: 14px;
  color: #000;
  line-height: 30px;
  margin-top: 30px;
  padding: 0 20px;
  font-weight: bold;
}
.four-module .index-block3-ul li p {
  font-size: 14px;
  color: #666;
  line-height: 23px;
  padding: 0;
  padding-right: 30px;
  text-align: justify;
}
.icon-bg {
  height: 282px;
  background: url(../img/icon-module-bg.jpg) no-repeat;
  margin: 125px auto 0;
  padding-top: 62px;
  /*Firefox3.5+*/
  -webkit-box-sizing: border-box;
  /*Safari3.2+*/
  -o-box-sizing: border-box;
  /*Opera9.6*/
  -ms-box-sizing: border-box;
  /*IE8*/
  box-sizing: border-box;
}
.icon-module {
  text-align: center;
  overflow: hidden;
  width: 757px;
  margin: 0 auto;
}
.icon-module li {
  width: 96px;
  height: 205px;
  margin-right: 36px;
  float: left;
  font-size: 14px;
  line-height: 30px;
}
.icon-module li:last-child {
  margin-right: 0px;
}
.icon-module li .img-div {
  overflow: hidden;
}
.icon-module li p {
  margin-top: 15px;
}
/* 大事件 */
.newsBox {
  width: 800px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
.newsBox-button {
  margin-top: 30px;
  height: 58px;
  border-bottom: 2px #cacaca solid;
}
.newsBox-button p {
  line-height: 58px;
  display: inline-block;
  font-size: 14x;
  color: #999;
  margin: 0 38px 0 6px;
  cursor: pointer;
}
.newsBox-button p span {
  font-size: 18px;
  color: #333;
  margin-right: 7px;
}
.newsBox-button p span.active {
  color: #6acce8;
}
.newsBox-ul li {
  width: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 27px 0 0 18px;
}
.newsBox-ul li .newsBox-ul-left {
  width: 86px;
  padding-top: 6px;
  float: left;
}
.newsBox-ul li .newsBox-ul-left p {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  border-bottom: 1px #cbcbcb solid;
  display: inline-block;
  text-align: center;
  padding: 0 5px 5px;
  color: #a0a0a0;
}
.newsBox-ul li .newsBox-ul-left h4 {
  font-size: 36px;
  line-height: 45px;
  color: #a0a0a0;
  width: 53px;
  text-align: center;
}
.newsBox-ul li .newsBox-ul-right {
  width: 696px;
  float: right;
  padding-bottom: 30px;
  position: relative;
}
.newsBox-ul li .newsBox-ul-right img {
  width: 240px;
  height: 160px;
  float: left;
}
.newsBox-ul li .newsBox-ul-right-div {
  width: 456px;
  height: 120px;
  float: left;
  padding-left: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.newsBox-ul li .newsBox-ul-right-div h4 {
  color: #333333;
  font-size: 18px;
  margin-top: -10px;
  line-height: 35px;
}
.newsBox-ul li .newsBox-ul-right-div h4 i {
  font-size: 14px;
  color: #999999;
  font-style: normal;
}
.newsBox-ul li .newsBox-ul-right-div h4 span {
  display: inline-block;
  font-size: 14px;
  color: #6acce8;
  padding: 4px 7px;
  border: 4px #6acce8 solid;
  line-height: 14px;
}
.newsBox-ul li .newsBox-ul-right-div p {
  height: 42px;
  font-size: 12px;
  line-height: 27px;
  color: #666666;
  padding-bottom: 35px;
  overflow: hidden;
  word-break: break-all;
}
.newsBox-ul li a.newsBox-more {
  width: 96px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: #fff;
  font-size: 12px;
  background: #6acce8;
  display: inline-block;
  position: absolute;
  bottom: 32px;
  left: 273px;
}
.newsBox-ul li.active {
  padding: 30px 0 0 18px;
  margin-bottom: 3px;
}
.newsBox-ul li.active .newsBox-ul-left p,
.newsBox-ul li.active .newsBox-ul-left h4 {
  color: #6acce8;
}
.newsBox-ul li.active .newsBox-ul-right {
  border-bottom: 1px #cacaca solid;
}
.newsBox-ul li.active .newsBox-ul-right img {
  width: 335px;
  height: 223px;
}
.newsBox-ul li.active .newsBox-ul-right-div {
  width: 361px;
  height: 223px;
  float: left;
  padding-left: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.newsBox-ul li.active .newsBox-ul-right-div h4 {
  font-weight: bold;
  line-height: 40px;
  margin-top: -9px;
}
.newsBox-ul li.active .newsBox-ul-right-div p {
  height: 68px;
}
.newsBox-ul li.active .newsBox-ul-right-div a {
  left: 30px;
}
.newsBox-ul li.active a.newsBox-more {
  bottom: 2px;
}
.abnews-page {
  text-align: center;
  padding: 65px 0 55px;
}
.abnews-page a {
  font-size: 12px;
  color: #747474;
  padding: 7px 5px;
  margin-right: 8px;
}
.abnews-page a.active {
  color: #333;
  border-bottom: 5px #6acce8 solid;
}
.abnews-page span {
  font-size: 14px;
  color: #747474;
  cursor: pointer;
}
.about-contect {
  width: 800px;
  padding: 80px 0 90px;
  margin: 0 auto;
  position: relative;
}
.about-contect img {
  width: 261px;
  height: 124px;
  margin: 0 auto 65px;
  display: block;
}
.about-contect-div {
  position: relative;
  width: 800px;
  height: 475px;
  background: url(../img/contect-img2.png) no-repeat;
}
.about-contect-div p {
  position: absolute;
}
.about-contect-div p span {
  display: block;
  color: #333333;
  font-size: 24px;
  font-weight: bolder;
  line-height: 35px;
}
.about-contect-div p i {
  display: block;
  color: #333333;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
}
.about-contect-div p.about-contect-p1 {
  left: 30px;
  top: 23px;
}
.about-contect-div p.about-contect-p2 {
  left: 431px;
  top: 23px;
}
.about-contect-div p.about-contect-p3 {
  left: 30px;
  top: 270px;
}
.about-contect-div p.about-contect-p4 {
  left: 306px;
  top: 270px;
}
.about-contect-div p.about-contect-p5 {
  left: 580px;
  top: 270px;
}
.about-friend {
  width: 100%;
  background: url(../img/earth-bg_01.png) no-repeat;
  background-size: 100%;
}
.about-friend-ul {
  width: 800px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  padding: 130px 0 60px;
}
.about-friend-ul li {
  overflow: hidden;
  padding: 50px 0 45px;
  border-bottom: 1px #cacaca solid;
}
.about-friend-ul li div {
  float: left;
  width: 33%;
  overflow: hidden;
}
.about-friend-ul li div img {
  display: block;
}
.about-friend-ul li div p {
  font-size: 12px;
  color: #352e2c;
  line-height: 24px;
  margin-top: 25px;
  padding-right: 15%;
}
/* 企业新闻 */
.activityBox {
  width: 100%;
  overflow: hidden;
  padding-bottom: 50px;
}
.xunzhan {
  width: 100%;
  background: url(../img/activity_bg_02.jpg) no-repeat;
  background-size: 100%;
}
.xunzhan-center {
  width: 800px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.xunzhan-center .xunzhan-center-title {
  text-align: center;
  font-size: 30px;
  color: #352e2c;
  margin: 60px 0 50px;
  font-weight: bold;
}
.xunzhan-center .xunzhan-center-title img {
  width: 97px;
  height: 86px;
  position: relative;
  top: 10px;
}
.xunzhan-center .xunzhan-center-title b {
  font-size: 42px;
}
.xunzhan-icon {
  overflow: hidden;
}
.xunzhan-icon li {
  width: 134px;
  float: left;
  margin-right: 32px;
}
.xunzhan-icon li.lastli {
  margin-right: 0;
}
.xunzhan-icon li img {
  display: block;
  margin: 0 auto;
}
.xunzhan-icon li img.shenzhen-icon {
  width: 105px;
  height: 93px;
}
.xunzhan-icon li img.shanghai-icon {
  width: 134px;
  height: 96px;
  margin-left: -15px;
}
.xunzhan-icon li img.beijing-icon {
  width: 116px;
  height: 96px;
}
.xunzhan-icon li p {
  text-align: center;
  font-size: 14px;
  color: #999999;
  font-weight: bold;
  height: 36px;
  line-height: 36px;
}
.xunzhan-circle {
  width: 800px;
  height: 26px;
  margin: 0 auto 2px;
  position: relative;
  overflow: hidden;
  padding-left: 53px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.xunzhan-circle span {
  float: left;
  width: 25px;
  height: 25px;
}
.xunzhan-circle span b {
  width: 13px;
  height: 13px;
  display: block;
  border: 3px #6acce8 solid;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 6px auto 0;
}
.xunzhan-circle span.active {
  border: 3px #ceeef7 solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.xunzhan-circle span.active b {
  background: #6acce8;
  border: 0;
  margin-top: 3px;
}
.xunzhan-circle i {
  width: 141px;
  height: 2px;
  background: #d8d8d8;
  float: left;
  margin-top: 12px;
}
.xunzhan-city {
  width: 800px;
  margin: 0 auto 50px;
  position: relative;
  overflow: hidden;
}
.xunzhan-city li {
  width: 134px;
  float: left;
  margin-right: 32px;
}
.xunzhan-city li.lastli {
  margin-right: 0;
}
.xunzhan-city li h4 {
  font-size: 24px;
  color: #6acce8;
  text-align: center;
  margin-bottom: 10px;
}
.xunzhan-city li p {
  font-size: 18px;
  color: #333333;
  line-height: 24px;
  text-align: center;
}
.xunzhanzhuti {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.xunzhanzhuti .xunzhan-center-title {
  text-align: center;
  font-size: 30px;
  color: #352e2c;
  margin: 50px 0 5px;
  font-weight: bold;
}
.xunzhanzhuti .xunzhan-center-title img {
  width: 97px;
  height: 86px;
  position: relative;
  top: 10px;
}
.xunzhanzhuti .xunzhan-center-title b {
  font-size: 42px;
}
.xinzhanzhuti-content {
  width: 100%;
  height: 420px;
  margin-bottom: 100px;
  background: url(../img/xunzhanzhuti-bg_02.jpg) no-repeat center;
}
.xunzhanzhuti-bottom {
  width: 800px;
  height: 420px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.xunzhanzhuti-bottom h4 {
  font-size: 24px;
  color: #fff;
  line-height: 32px;
  margin-bottom: 20px;
}
.xunzhanzhuti-bottom p {
  font-size: 12px;
  color: #fff;
  line-height: 24px;
}
.xunzhanzhuti-bottom .xunzhan-left {
  width: 40%;
  float: left;
  margin: 110px 0 0 20px;
}
.xunzhanzhuti-bottom .xunzhan-right {
  width: 40%;
  float: right;
  margin: 110px 10px 0 0;
}
.xunzhan-imgs {
  width: 100%;
  height: 456px;
  background: #f6f6f6;
  overflow: hidden;
}
.xunzhan-imgs img {
  display: block;
  margin: 54px auto 0;
}
.xunzhan-history {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.xunzhan-history .xunzhan-center-title {
  text-align: center;
  font-size: 30px;
  color: #352e2c;
  margin: 50px 0 5px;
  font-weight: bold;
}
.xunzhan-history .xunzhan-center-title img {
  width: 102px;
  height: 67px;
  position: relative;
  top: -26px;
  left: 51px;
}
.xunzhan-history .xunzhan-center-title b {
  font-size: 42px;
}
.xunzhan-history-content {
  width: 100%;
}
.xunzhan-history-content-left,
.xunzhan-history-content-right {
  width: 48%;
  float: left;
}
.xunzhan-history-content-left li,
.xunzhan-history-content-right li {
  width: 100%;
  margin-bottom: 70px;
  overflow: hidden;
}
.xunzhan-history-content-left li img,
.xunzhan-history-content-right li img {
  display: block;
  float: left;
  width: 182px;
}
.xunzhan-history-content-left li div,
.xunzhan-history-content-right li div {
  width: 250px;
  float: right;
}
.xunzhan-history-content-left li div h4,
.xunzhan-history-content-right li div h4 {
  font-size: 24px;
  color: #333;
  line-height: 36px;
}
.xunzhan-history-content-left li div h6,
.xunzhan-history-content-right li div h6 {
  font-size: 12px;
  color: #999;
  line-height: 26px;
  margin: 0 0 8px 0;
  font-weight: normal;
}
.xunzhan-history-content-left li div p,
.xunzhan-history-content-right li div p {
  font-size: 12px;
  color: #333;
  line-height: 24px;
  margin-bottom: 20px;
}
.xunzhan-history-content-left li div a,
.xunzhan-history-content-right li div a {
  display: block;
  width: 88px;
  height: 31px;
  background: #6acce8;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  line-height: 31px;
  text-align: center;
  font-size: 12px;
  color: #fff;
}
.xunzhan-history-content-right {
  float: right;
  background: url(../img/xunzhan-history2.png) no-repeat top right;
  padding-top: 196px;
  margin-top: -35px;
}
/* 企业活动 */

/*# sourceMappingURL=allcss.css.map */
