.wl-banner{
    img{
        width: 100%;
    }
}
.time-axis{
    position: relative;
    width: 990px;
    margin: 0 auto;
    font-size: 12px;
    color: #434343;
    line-height: 25px;
    margin-top: 60px;
    >img{
        width: 100%; 
    }
    .this-year{
        position: absolute;
        width: 260px;
        top: 0px;
        left: 0px;
    }
    .last-year{
        position: absolute;
        width: 260px;
        bottom: 40px;
        left: 120px;
    }
    .year15{
        position: absolute;
        width: 260px;
        bottom: 200px;
        left: 238px;
    }
    .year14{
        position: absolute;
        width: 260px;
        bottom: 90px;
        left: 348px;
    }
    .year13{
        position: absolute;
        width: 260px;
        bottom: 230px;
        left: 453px;
        .picture{
            margin-top: 8px;
        }
    }
    .year12{
        position: absolute;
        width: 260px;
        top: 30px;
        left: 568px;
    }
    .year11{
        position: absolute;
        width: 260px;
        bottom: 65px;
        left: 683px;
    }
    .year10{
        position: absolute;
        width: 260px;
        bottom: 235px;
        left: 790px;
    }
    .blue-wz{
        color: #76c7df;
    }
    .picture{
        margin-top: 15px;
    }
}