.channel-box{
    width: 100%;
//  height: 605px;
    overflow: hidden;
    position: relative;
}
.channel-box-bg{
    width: 100%;
}
.channel-block2{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.channel-box-title{
    text-align: center;
    font-size: 30px;
    color: #352e2c;
    margin: 60px 0 50px;
    font-weight: bold;
    img{
        width: 61px;
        height: 52px;
        position: relative;
        top: -15px;
    }
    b {
        font-size: 42px;
    }
}
.channel-block2-ul{
    width: 750px;
    margin: 0 auto;
    li{
        width: 222px;
        height: 254px;
        float: left;
        margin-right: 42px;
        position: relative;
        background: #fff;
        border: 1px #666666 solid;
        box-sizing: border-box;
        &.lastli{
            margin-right: 0;
        }
        .channel-num1,.channel-num2,.channel-num3{
            width: 39px;
            height: 34px;
            display: block;
            background:#fff url(../img/channel-num1.png) no-repeat center;
            position: relative;
            top: -19px;
            left: 50%;
            margin-left: -17px;
        }
        .channel-num2{
            background:#fff url(../img/channel-num2.png) no-repeat center;
        }
        .channel-num3{
            background:#fff url(../img/channel-num3.png) no-repeat center;
        }
        .channel-num1-icon{
            display: block;
            margin: 0 auto;
        }
        h4{
            font-size: 18px;
            color: #333;
            line-height: 40px;
            height: 40px;
            text-align: center;
        }
        p{
            width: 75%;
            margin: 0 auto;
            font-size: 12px;
            color: #666666;
            line-height: 24px;
            height: 24px;
            text-align: center;
        }
    }
}

.channel-block3{
    width: 100%;
//  height: 605px;
    overflow: hidden;
    position: relative;
}
.channel-block3-bg{
    width: 100%;
    min-height: 570px;
}
.channel-block3-box{
    width: 50%;
    position: absolute;
    top: 70px;
    left: 13%;
}
.channel-block3-top{
    width: 396px;
    height: 106px;
    line-height: 136px;
    text-align: right;
    border-bottom: 1px #49709a solid;
    overflow: hidden;
    margin-bottom: 40px;
    img{
        width: 177px;
        height: 43px;
        margin-top: 31px;
        display: block;
        float: left;
    }
    a{
        color: #00b7ee;
        font-size: 14px;
    }
}
.channel-block3-center{
    position: relative;
    overflow: hidden;
    height: 92px;
    .p1{
        width: 70px;
        height: 66px;
        background: url(../img/channel-block3-icon1.png) no-repeat center top;
        background-size: 38px 35px;
        padding-top: 45px;
        font-size: 12px;
        color: #fff;
        text-align: center;
        float: left;
    }
    .p2{
        width: 138px;
        height: 66px;
        background: url(../img/channel-block3-icon2.png) no-repeat center top;
        background-size: 36px 33px;
        padding-top: 45px;
        font-size: 12px;
        color: #fff;
        text-align: center;
        float: left;
    }
    .p3{
        width: 70px;
        height: 66px;
        background: url(../img/channel-block3-icon3.png) no-repeat center top;
        background-size: 31px 31px;
        padding-top: 45px;
        font-size: 12px;
        color: #fff;
        text-align: center;
        float: left;
    }
    .p4{
        width: 111px;
        height: 66px;
        background: url(../img/channel-block3-icon4.png) no-repeat center top;
        background-size: 34px 31px;
        padding-top: 45px;
        font-size: 12px;
        color: #fff;
        text-align: center;
        float: left;
    }
    span{
        display: block;
        width: 25px;
        height: 16px;
        background: url(../img/channel-block-lanjiantou.png) no-repeat;
        position: absolute;
        &.span1{
            top: 14px;
            left: 73px;
        }
        &.span2{
            top: 14px;
            left: 180px;
        }
        &.span3{
            top: 14px;
            left: 276px;
        }
    }
}
.channel-block3-bottom{
    width: 396px;
}

.channel-block3-bottom-left,.channel-block3-bottom-right{
    width: 170px;
    float: left;
    p{
        font-size: 12px;
        color: #fff;
        line-height: 24px;
        position: relative;
        b{
        width: 13px;
        height: 13px;
        display: block;
        border: 3px #6acce8 solid;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        top: 6px;
        left: -18px;
        }
    }
}
.channel-block3-bottom-right{
    float: right;
}
