
@media screen and ( max-width: 1140px) {
    .tools-bottom li{
        padding-top: 20px;
    }
    .tools-bottom {
        .tools-bottom-left{
            width: 219px;
            margin-right: 19px;
            h4{
                margin-bottom: 0;
            }
        }
        .tools-bottom-right{
            margin-right: 13px;
        }
    }
}
@media screen and ( min-width: 1141px) and ( max-width: 1300px) {
    .tools-bottom li{
        padding-top: 20px;
    }
    .tools-bottom {
        .tools-bottom-left{
            width: 219px;
            margin-right: 35px;
            h4{
                margin-bottom: 0;
            }
        }
        .tools-bottom-right{
            margin-right: 30px;
        }
    }
}