//@media screen and ( max-width: 1440px) {
    .userblock2-top{        
        &.block2-top{
            height: 95px;
            font-size: 45px;
            line-height: 129px;
            margin: -59px auto 0px!important;   
        }  
        &.block2-top-duizhang{
            height: 95px;
            font-size: 45px;
            line-height: 129px;
            border-bottom: none;
            margin: -59px auto 20px; 
        }      
    }
    .userblock2-ul.userblock2-ul-reset{
        padding: 0 2%;
        box-sizing: border-box;
        li{
            width: 21%;
            margin: 0 2%;
            box-sizing: border-box;
            > div  
            {
                height: 367px;
                >div{
                    width: 170px;
                    height: 170px;
                }
            }
            h4{
                font-size: 24px;
            }
            p{
                font-size: 18px;
            }
        }
    }
//}
//@media screen and ( max-width: 1660px) {
    .userblock2-ul.userblock2-ul-reset{
        padding: 0 2%;
        box-sizing: border-box;
        li{
            width: 21%;
            margin: 0 2%;
            box-sizing: border-box;
            > div  
            {
                height: 367px;
                >div{
                    width: 108px;
                    height: 108px;
                    margin: -59px auto 0;
                }
            }
            h4{
                font-size: 24px;
            }
            p{
                font-size: 16px;
            }
        }
    }
//}
.userBlock2{
    padding-top: 98px;
}
.userblock2-ul.userblock2-ul-reset li > div {
    height: 310px;
    margin-top: 80px;
}
.user-bottom.user-bottom-reset{
    height: 310px;
    padding-top: 55px;
    h4{
        font-size: 45px;
    }
    .user-bottom-load{
        top: 100px;
    }
}
