.service-div{
    width: 81%;
    min-height: 240px;
    margin:0 auto 115px;
    border: 1px #e5e5e5 solid;
    position: relative;    
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 58px;
    >span{
        display: inline-block;
        padding: 0 40px;
        height: 65px;
        font-size: 55px;
        color:#40b2e8;
        position: absolute;
        left: 50%;
        margin-top:-98px;
        background: #fff;
        transform:translateX(-50%);  
        white-space: nowrap;
    }
    >p{
        color: #000;
        font-size: 30px;
        text-align: center;
        i{
            font-size: 29px;
            padding-right: 15px;
        }
    }
}
.service-block{
    width: 81%;
    padding: 35px 55px;
    border: 1px #d2d2d2 dashed;
    margin: 0 auto 120px;
    box-sizing: border-box;
    background: #eeeeee;
    >p{
        font-size: 30px;
        color:#626262;
        line-height: 60px;
    }
}
.price-block{
    margin-top: 98px;
    .userblock2-title{
        font-size: 36px;
        height: 70px;
        line-height: 79px;
        >b{
          font-size: 50px;   
        }
        .iconleft{
            background: url(../img/1left.png) no-repeat;
            background-size: 100% 100%;
            display: inline-block;
            width: 60px;
            height: 18px;
            margin:0 20px 10px 0;
        }
        .iconright{
            background: url(../img/1right.png) no-repeat;
            background-size: 100% 100%;
            display: inline-block;
            width: 60px;
            height: 18px;
            margin:0 0 10px 20px;
        }
    }
}
.table-top{
    margin-top:70px ;
    table{
        width: 82%;
        margin: 0 auto;
        border: 1px #d2d2d2 solid;
        border-collapse: collapse;
        th{
            border: 1px #d2d2d2 solid;
            padding: 52px 38px;
            background: #eeeeee;
            white-space: nowrap;
            font-size: 18px;
            font-weight: normal;
        }
        td{
            border: 1px #d2d2d2 solid;
            padding: 52px 38px;
            text-align: center;
            color:#172326;
            font-size: 18px;
            &.resettdW{
                white-space: nowrap;
            }
        }
        .widthtd{
//          width: 153px;
        }
        .pricetr{
            td{
                font-size: 27px;
                i{
                    font-style: normal;
                    text-decoration:line-through;
                    margin-right: 20px;
                }
                span{
                    font-size: 42px;
                    color:#40b2e8;
                }
            }
        }
    }
}

//帮助中心
.search-box{
    width: 100%;
    padding: 85px 0;
    background: #29abe2;
}
.search-box-center{
    width: 82%;
    margin: 0 auto;
    .search-input{
        width: 100%;
        height: 85px;
        background: #fff;
        padding: 0 20px;
        overflow: hidden;
        box-sizing: border-box;
        input{
            width: 90%;
            height: 85px;
            font-size: 24px;
            outline: none;
            border: none;
            float: left;
        }
        img{
            width: 38px;
            height: 38px;
            float: right;
            margin-top: 23px;
            cursor: pointer;
        }
    }
}
.search-little{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 15px;
    span{
        float: left;
        font-size: 24px;
        color:#fff;
        white-space: nowrap;
        i{
            color:#005477;
            font-size: 24px;
            margin-right: 10px;
        }
    }
}
.search-bottom{
    width: 100%;
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    li{
        width: 12%;
        height: 145px;
        font-size: 16px;
        color:#fff;
        text-align: center;
        float: left;
        white-space: nowrap;
        img{
            width: 80%;
            display: block;
            margin: 0 auto 10px;
        }
    }    
}
.help-box{
    padding: 100px 0 60px;
}
.service-div-ul{
    padding: 40px 45px 60px 100px;
    li{
//      list-style: circle;
        list-style-type:disc;
        width: 48%;
        font-size: 17px;
        color:#4e4e4e;
        line-height: 40px;
        display: inline-block;
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }
}
.help-page{
    height: 34px;
//  padding-left: 100px;
    margin-top: 40px;
    p{
        display: inline-block;
        border: 1px #dddddd solid;
        border-radius: 3px;
        &.allpage{
          font-size: #7c7c7c;
          border:none;
          padding-left: 20px;   
        }       
        a{  
            display: inline-block;
            cursor: pointer;
            font-size: 17px;
            color: #428bcb;
            padding: 10px 13px;
            border-right: 1px #dddddd solid;
            &.active{
                color:#333333;
            }
        }
    }
}
.header-shujugongju{
    font-size: 35px;
    color:#fff;
    padding: 25px 5px;
    border-top: 8px #fff solid;
     border-bottom: 8px #fff solid;
     display: inline-block;
     text-align: center;
     position: absolute;
     bottom: 30px;
     left: 50px;
    span{
        font-size: 70px;
        display: block;
    }
}
.download-bottom-flex.flexs-row3 li{
    width: 26%;
    margin: 0 3.4% 115px;
    span{
        height: 130px;
    }
    h6{
        height: 55px;
        line-height: 25px;
        font-size: 16px;
        color: #333333;
        text-align: center;
        margin: 10px 0 8px;
    }
}
.download-bottom-flex.borderNone{
    li{
        border: none;
        width: 26%;
        margin: 0 3.4% 115px;
        padding-bottom: 45px;
        img{
            width: 108px;
        }
        span{
            margin: 0 auto;
        }
    }
}
.about-box.suggest{
    h4{
        margin-bottom: 0;
    }
    .suggestBox{
        border: none;
    }
}

.suggest-left{
    width: 50%;
    float: left;    
    box-sizing: border-box;
    li{
        padding-left: 95px;
        height: 80px;
        font-size: 25px;
        color: #000;
        &.dianhua{
            background: url(../img/3dianhua.png) no-repeat left center;
            background-size: 80px 80px;
            margin: 110px 0;
        }
        &.chuanzhen{
             background: url(../img/3chuanzhen.png) no-repeat left center;
            background-size: 80px 80px;
        }
        span{
            display: block;
            color:#40b2e8;
            padding: 5px 0 12px;
        }
    }
}
.suggest-right{
    width: 50%;
    float: left;
    padding-left: 15px;
    box-sizing: border-box;
//  border-left: 1px #40b2e8 dashed;
    position: relative;
    li{
        padding-left: 95px;
        height: 80px;
        font-size: 25px;
        color: #000;
        &.qq{
            background: url(../img/3qq.png) no-repeat left center;
            background-size: 80px 80px;
            margin: 65px 0;
        }
        &.skype{
             background: url(../img/3skype.png) no-repeat left center;
            background-size: 80px 80px;
            margin: 65px 0;
        }
        &.email{
             background: url(../img/3youxiang.png) no-repeat left center;
            background-size: 80px 80px;
        }
        span{
            display: block;
            color:#40b2e8;
            padding: 5px 0 12px;
        }
    }
    p{
        position: absolute;
        top: 45px;
        left: -10px;
        width: 1px;
        height: 100%;
        border-left:1px #40b2e8 dashed;
    }
}
.huoban_img{
    width: 100%;
}
.friend-box{
    width: 100%;
    background: #eeeeee;
}
.friend-center{
    width: 716px;
    margin: 0 auto;
    padding: 80px 0 65px;
    table{
        tr{
            td{
                font-size: 20px;
                color:#333;
                height: 83px;
                padding: 0 20px;
                &.tdp{
                    font-size: 25px;
                    height: 45px;
                    >div{
                        margin-top: -52px;
                    }
                }
                i{
                    font-size: 22px;
                    margin-right: 12px;
                }
                input{
                    width: 500px;
                    height: 60px;
                    outline: none;
                    border: 1px #c9c9c9 solid;
                    background: #fff;
                    font-size: 22px;
                    padding: 0 10px;
                    box-sizing: border-box;
                }
                textarea{
                    width: 500px;
                    height: 130px;
                    outline: none;
                    border: 1px #c9c9c9 solid;
                    background: #fff;
                    font-size: 22px;
                    padding: 0 10px;
                    box-sizing: border-box;
                }
                button{
                    width: 40%;
                    height: 60px;
                    background: #40b2e8;
                    color: #fff;
                    font-size: 22px;
                    outline: none;
                    border: 0;
                    margin: 0 auto 0;
                    cursor: pointer;
                    display: block;
                }
            }
        }
    }
}
.download-bottom-flex li p.anquan{
        font-size: 25px;
    }
.service-block22{
    width: 100%;
    border: 1px #d2d2d2 dashed;
    box-sizing: border-box;
    background: #eeeeee;
    padding: 85px 35px;
    box-sizing: border-box;
    >p{
        font-size: 22px;
        color: #626262;
        line-height: 44px;
    }
}
.userBlock2-ul{
    overflow: hidden;
    width: 930px;
    margin: 0 auto;
    li{
        display: flex;
        padding-bottom: 34px;
        img{
            width: 50%;
            height: 273px;
            float: left;
        }
        p{
           display: inline-block;
           padding-left: 60px;
           box-sizing: border-box;
           float: left;
           font-size: 14px;
           color:#000000;
           line-height: 31px;
          span{
            display: block;
            font-size: 31px;
            color:#40b2e8;
            line-height: 72px;
           }   
        } 
        i.iconfont{
            margin-right: 9px;
        }      
    }
}
.friend-ptitle{
    font-size: 28px;
    color:#40b2e8;
    text-align: center;
    line-height: 53px;
    margin-top: 10px;
    &.lastp{
        margin-top: 0;
        margin-bottom: 50px;
    }
    a{
        color:#000000;
    }
}
